/videos
/frames
/notes
/mydata
site/
mysql_backup/
/chat
claude.md
.DS_Store 
annotations/
/test
yolov5/
/dataset
*.pt
secrets/
backup_notebook_files/
mlruns/
runs/
track_deepsort.py
output_video_bytetrack/
output_video_deepsort/
output_video_zebratracker/
labelstudio_export/
__pycache__/
open_links.sh
*.xlsx
sync_videos.py
.env