.md-typeset h1 {                                        
    color: #111111;                                       
  } 

.md-typeset h2 {                                        
    font-weight: 700;                                   
    border-bottom: 1px solid #e0e0e0;                   
    padding-bottom: 0.3em;                                
  }
                                                          
  
.md-typeset pre {                                     
    background-color: #f0f4ff;                          
  }
